@model Bueller.Client.Models.Subject

@{
    ViewBag.Title = "Home Page";
    var result = Model.Name.Split(',').ToList();
}

<header class="masthead" style="background-image: url(https://s3.us-east-2.amazonaws.com/kbaynardbucket/home-bg.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Bueller</h1>
                    <span class="subheading">Classroom Management</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="card-deck" style="text-align: center">
    <div class="card">
        <div class="card-header">Total Enrollment</div>
        <div class="card-body"><b>
    @result[0] @if (int.Parse(result[0]) == 1)
        {<text>Student</text>}
    else
    { <text>Students</text>}
</b></div>
    </div>
    <div class="card">
        <div class="card-header">Total Faculty</div>
        <div class="card-body"><b>
    @result[1] @if (int.Parse(result[1]) == 1)
        {<text>Teacher</text>}
    else
    { <text>Teachers</text>}
</b></div>
    </div>
    <div class="card">
        <div class="card-header">Classes Offered</div>
        <div class="card-body"><b>
    @result[2] @if (int.Parse(result[2]) == 1)
        {<text>Class</text>}
    else
    { <text>Classes</text>}
</b></div>
    </div>
</div>