<h2>All Books</h2>
<div>
  <label>Book title:
    <input #bookTitle placeholder="title"/>
  </label>
  <br>
  <label>Price:
    <input #bookPrice placeholder="price"/>
  </label>
  <br>
  <label>Description:
    <input #bookDescription placeholder="description"/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
</div>
<button (click)="add(bookTitle.value, bookDescription.value, bookPrice.value); bookTitle.value=''; bookDescription.value=''; bookPrice.value=''">
  add
</button>
<br>
<br>
<ul class="books">
  <li *ngFor="let book of books">
    <a routerLink="/detail/{{book.BookId}}">
      <!-- <span class="badge">{{book.bookId}}</span> -->{{book.Title}}
    </a>
    <button class="delete" title="delete book" (click)="delete(book)">x</button>    
  </li>
</ul>